app/ann2rr
app/bxb
app/calsig
app/ecgeval
app/epicmp
app/fir
app/gqfuse
app/gqpost
app/gqrs
app/hrstats
app/ihr
app/mfilt
app/mrgann
app/mxm
app/nguess
app/nst
app/plotstm
app/pscgen
app/pschart
app/psfd
app/rdann
app/rdsamp
app/rr2ann
app/rxr
app/sampfreq
app/sigamp
app/sigavg
app/signame
app/signum
app/skewedit
app/snip
app/sortann
app/sqrs
app/sqrs125
app/stepdet
app/sumann
app/sumstats
app/tach
app/time2sec
app/wabp
app/wfdb-config
app/wfdbcat
app/wfdbcollate
app/wfdbdesc
app/wfdbmap
app/wfdbsignals
app/wfdbtime
app/wfdbwhich
app/wqrs
app/wrann
app/wrsamp
app/xform
build/
checkpkg/appcheck.out
checkpkg/lcheck
checkpkg/libcheck.out
conf/prompt
conf/site-slib.def
conf/site.def
config.cache
convert/a2m
convert/ad2m
convert/ahaecg2mit
convert/edf2mit
convert/m2a
convert/makeid
convert/md2a
convert/mit2edf
convert/mit2wav
convert/parsescp
convert/rdedfann
convert/readid
convert/revise
convert/wav2mit
convert/wfdb2mat
lib/annot.o
lib/calib.o
lib/libwfdb.so.*
lib/signal.o
lib/wfdbinit.o
lib/wfdbio.o
psd/coherence
psd/fft
psd/log10
psd/lomb
psd/memse
xml/annxml
xml/heaxml
xml/xmlann
xml/xmlhea
